In [ ]:
import numpy as np

In [ ]:
def min_edit_dist(a: str, b: str) -> int:
  if len(a) == 0:
    return len(b)
  if len(b) == 0:
    return len(a)

  table = np.zeros((len(a) + 1, len(b) + 1))
  table[0, 0] = 0

  for i in range(0, len(a) + 1):
    for j in range(0, len(b) + 1):
      if i == 0:
        table[i, j] = j
      elif j == 0:
        table[i, j] = i
      elif a[i - 1] == b[j - 1]:
        table[i, j] = table[i - 1, j - 1]
      else:
        table[i, j] = min(table[i - 1, j] + 1, table[i, j - 1] + 1, table[i - 1, j - 1] + 2)

  return int(table[len(a), len(b)])

In [ ]:
s1 = input("Enter first string: ")
s2 = input("Enter second string: ")
min_edit_dist(s1, s2)

Enter first string: aytra
Enter second string: ay

3